/* =========================
   Modern Reset (Bootstrap-safe)
   ========================= */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Body базовые настройки */
body {
  line-height: 1.5;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

/* Lists */
ul,
ol {
  padding: 0;
  list-style: none;
}

/* Images */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Forms inherit fonts */
input,
button,
textarea,
select {
  font: inherit;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Buttons */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
