* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

body {
  width: 100%;
}

.wrapper {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  font-family: Montserrat;
  font-weight: 400;
  line-height: 20px;
  color: rgb(255, 255, 255);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  -webkit-box-shadow: 0px 12px 0px rgb(202, 202, 219), 0px 24px 0px rgb(231, 231, 242);
          box-shadow: 0px 12px 0px rgb(202, 202, 219), 0px 24px 0px rgb(231, 231, 242);
}

.wrap-header-hero {
  height: 100vh;
  background-image: url(../../images/h.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-bottom: 60px;
  border: 1px solid red;
}

.header {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 50px 160px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid red;
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
  margin-bottom: 16px;
}
.auth-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.auth-nav__address {
  position: relative;
}
.auth-nav__address::before {
  content: "";
  position: absolute;
  left: -11px;
  bottom: 7px;
  background: rgb(230, 230, 240);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.auth-nav__tel {
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.auth-nav__tel::before {
  content: "";
  position: absolute;
  left: -11px;
  bottom: 7px;
  background: rgb(230, 230, 240);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.auth-nav__tel::after {
  content: "";
  position: absolute;
  right: -11px;
  bottom: 7px;
  background: rgb(230, 230, 240);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 15px;
  font-weight: 700;
}

.button-tab {
  width: 33 px;
  height: 25 px;
  padding: 5px 7px 5px 7px;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
}
.button-tab_active {
  background: rgb(240, 20, 90);
}

.main-title {
  position: absolute;
  top: 45%;
  right: 39%;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
}

.scroll {
  width: 42px;
  height: 42px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 90%;
  right: 50%;
}
.scroll__svg {
  color: rgb(255, 255, 255);
}
.scroll:hover {
  cursor: pointer;
  border-color: rgba(240, 20, 90, 0.5);
}
.scroll:hover svg {
  color: rgb(240, 20, 90);
}

.facebook-svg {
  color: rgb(255, 255, 255);
}
.facebook-svg :hover {
  color: rgb(240, 20, 90);
}

.section-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1920px;
  padding: 0px 280px;
  margin: 0px auto 60px;
  border: 1px solid red;
}
.section-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 14px 60px 14px 0px;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
  text-align: end;
}
.section-menu__link {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  color: rgb(179, 179, 186);
}
.section-menu__link:hover {
  color: rgb(240, 20, 90);
}
.section-menu__link_active {
  background-image: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.section-menu__descr {
  width: 100%;
  max-width: 921px;
  padding: 73px 0px 73px 60px;
}
.section-menu__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 30px;
}
.section-menu__text {
  font-size: 19px;
  line-height: 30px;
}

.section-services {
  width: 100%;
  max-width: 1920px;
  padding: 0px 160px 60px;
  margin: 0px auto 60px;
  border: 1px solid red;
}
.section-services__title {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 60px;
}
.section-services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section-services__item {
  width: 492px;
  margin-right: 60px;
  margin-bottom: 60px;
  border: 1px solid red;
}
.section-services__item:nth-child(3n) {
  margin-right: 0px;
}
.section-services__item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}
.section-services__img {
  width: 92px;
  height: 92px;
  border-radius: 24px;
  padding: 14px;
  background: rgb(255, 255, 255);
  margin-bottom: 30px;
}
.section-services__heading {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: rgb(36, 163, 255);
  margin-bottom: 15px;
}

.menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  color: rgb(36, 163, 255);
}
.menu-link:hover {
  color: rgb(240, 20, 90);
}
.menu-link:hover .menu-link__arrow {
  color: rgb(240, 20, 90);
}
.menu-link__arrow {
  color: rgb(36, 163, 255);
}

.section-team {
  width: 100%;
  max-width: 1920px;
  padding: 0px 160px 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid red;
}
.section-team__member {
  padding: 30px;
  background: rgb(245, 245, 250);
}
.section-team__text {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 30px;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.section-team__name {
  font-weight: 700;
  line-height: 20px;
  color: rgb(179, 179, 186);
  margin-bottom: 6px;
}
.section-team__position {
  font-size: 14px;
  line-height: 22px;
  color: rgb(179, 179, 186);
}/*# sourceMappingURL=main.css.map */