* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

body {
  width: 100%;
}

.shadow-dark {
  width: 100%;
  max-width: 1880px;
  height: 10px;
  background: rgb(202, 202, 219);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .shadow-dark {
    max-width: 1400px;
  }
}
@media screen and (max-width: 1024px) {
  .shadow-dark {
    max-width: 984px;
  }
}
@media screen and (max-width: 764px) {
  .shadow-dark {
    max-width: 728px;
  }
}
@media screen and (max-width: 375px) {
  .shadow-dark {
    max-width: 335px;
  }
}

.shadow-light {
  width: 100%;
  max-width: 1840px;
  height: 10px;
  background: rgb(231, 231, 242);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0 auto 60px;
}
@media screen and (max-width: 1440px) {
  .shadow-light {
    max-width: 1360px;
  }
}
@media screen and (max-width: 1024px) {
  .shadow-light {
    max-width: 944px;
  }
}
@media screen and (max-width: 764px) {
  .shadow-light {
    max-width: 688px;
  }
}
@media screen and (max-width: 375px) {
  .shadow-light {
    max-width: 295px;
    margin-bottom: 30px;
  }
}

.scroll {
  width: 42px;
  height: 42px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 90%;
  right: 50%;
}
.scroll__img {
  color: rgb(255, 255, 255);
}
.scroll:hover {
  cursor: pointer;
  border-color: rgba(240, 20, 90, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.scroll:hover .scroll__img {
  color: rgb(240, 20, 90);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wrapper {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  font-family: Montserrat;
  font-weight: 400;
  line-height: 20px;
  color: rgb(255, 255, 255);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.wrap-header-hero {
  height: 100vh;
  background-image: url(../../images/h.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-bottom: 60px;
  border: 1px solid red;
}
@media screen and (max-width: 1440px) {
  .wrap-header-hero {
    background-size: cover;
  }
}
@media screen and (max-width: 376px) {
  .wrap-header-hero {
    margin-bottom: 30px;
  }
}

.header {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 50px 160px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid red;
}
@media screen and (max-width: 1440px) {
  .header {
    max-width: 1440px;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    max-width: 1024px;
    padding: 50px 60px 0px;
  }
}
@media screen and (max-width: 769px) {
  .header {
    display: none;
  }
}
.header__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@media screen and (max-width: 768px) {
  .header__logo {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 376px) {
  .header__logo {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 768px) {
  .header-desctop {
    max-width: 768px;
    padding: 50px 60px 0px;
    border: 1px solid red;
  }
}
@media screen and (min-width: 769px) {
  .header-desctop {
    display: none;
  }
}
@media screen and (max-width: 601px) {
  .header-desctop {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header-mobile {
    max-width: 601px;
  }
}
@media screen and (min-width: 601px) {
  .header-mobile {
    display: none;
  }
}
.header-mobile__auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  background: rgba(245, 245, 250, 0.2);
}
.header-mobile__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 0px;
}
.header-mobile__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 15px;
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .auth-nav {
    margin-bottom: 30px;
  }
}
.auth-nav__social:hover .facebook-svg {
  color: rgb(240, 20, 90);
}
.auth-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.auth-nav__address {
  position: relative;
}
.auth-nav__address::before {
  content: "";
  position: absolute;
  left: -11px;
  bottom: 7px;
  background: rgb(230, 230, 240);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.auth-nav__tel {
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.auth-nav__tel::before {
  content: "";
  position: absolute;
  left: -11px;
  bottom: 7px;
  background: rgb(230, 230, 240);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
@media screen and (max-width: 376px) {
  .auth-nav__tel::before {
    display: none;
  }
}
.auth-nav__tel::after {
  content: "";
  position: absolute;
  right: -11px;
  bottom: 7px;
  background: rgb(230, 230, 240);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
@media screen and (max-width: 376px) {
  .auth-nav__tel::after {
    display: none;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 15px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .navigation {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.navigation__link {
  padding-bottom: 3px;
}
.navigation__link:hover {
  border-bottom: 3px solid rgb(255, 255, 255);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.navigation__link-active {
  border-bottom: 3px solid rgb(240, 20, 90);
}
.navigation__link-active > a {
  color: rgb(240, 20, 90);
}

.button-tab {
  width: 33 px;
  height: 25 px;
  padding: 5px 7px 5px 7px;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
}
.button-tab_active {
  background: rgb(240, 20, 90);
}
.button-tab:hover {
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main-title {
  position: absolute;
  top: 45%;
  left: 37%;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
}
@media screen and (max-width: 1440px) {
  .main-title {
    left: 28%;
  }
}
@media screen and (max-width: 1024px) {
  .main-title {
    left: 19%;
  }
}
@media screen and (max-width: 768px) {
  .main-title {
    top: 41%;
  }
}
@media screen and (max-width: 376px) {
  .main-title {
    top: 36%;
    left: 26%;
  }
}

.facebook-svg {
  color: rgb(255, 255, 255);
}
.facebook-svg :hover {
  color: rgb(240, 20, 90);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.page-name {
  font-size: 20px;
  line-height: 24px;
}

.mobile-logo {
  width: 69px;
}

.section-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1920px;
  padding: 0px 280px;
  margin: 0px auto 60px;
  border: 1px solid red;
}
@media screen and (max-width: 1440px) {
  .section-menu {
    max-width: 1440px;
    padding: 0 180px;
  }
}
@media screen and (max-width: 1440px) {
  .section-menu {
    max-width: 1024px;
    padding: 0 60px;
  }
}
@media screen and (max-width: 768px) {
  .section-menu {
    max-width: 768px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
  }
}
@media screen and (max-width: 376px) {
  .section-menu {
    max-width: 375px;
    padding: 0px;
    margin-bottom: 30px;
  }
}
.section-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 14px 60px 14px 0px;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
  text-align: end;
}
@media screen and (max-width: 768px) {
  .section-menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-right: none;
    margin-bottom: 60px;
    padding-left: 60px;
    overflow-x: scroll;
  }
}
@media screen and (max-width: 376px) {
  .section-menu__list {
    padding-left: 30px;
    margin-bottom: 30px;
  }
}
.section-menu__link {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  color: rgb(179, 179, 186);
}
@media screen and (max-width: 768px) {
  .section-menu__link {
    white-space: nowrap;
  }
}
@media screen and (max-width: 376px) {
  .section-menu__link {
    font-size: 30px;
    line-height: 37px;
  }
}
.section-menu__link:hover {
  color: rgb(240, 20, 90);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.section-menu__link_active {
  background-image: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.section-menu__descr {
  width: 100%;
  max-width: 921px;
  padding: 73px 0px 73px 60px;
}
@media screen and (max-width: 1440px) {
  .section-menu__descr {
    max-width: 581px;
    padding: 43px 0px 43px 60px;
  }
}
@media screen and (max-width: 1024px) {
  .section-menu__descr {
    max-width: 465px;
    padding: 10px 0px 10px 60px;
  }
}
@media screen and (max-width: 768px) {
  .section-menu__descr {
    max-width: 100%;
    padding: 0 60px;
  }
}
@media screen and (max-width: 376px) {
  .section-menu__descr {
    padding: 0px 30px;
  }
}
.section-menu__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 30px;
}
@media screen and (max-width: 376px) {
  .section-menu__title {
    font-size: 20px;
    line-height: 24px;
  }
}
.section-menu__text {
  font-size: 19px;
  line-height: 30px;
}

.section-services {
  width: 100%;
  max-width: 1920px;
  padding: 0px 160px 60px;
  margin: 0px auto;
  border: 1px solid red;
}
@media screen and (max-width: 1440px) {
  .section-services {
    max-width: 1440px;
    padding: 0px 60px 60px;
  }
}
@media screen and (max-width: 1024px) {
  .section-services {
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  .section-services {
    max-width: 768px;
  }
}
@media screen and (max-width: 376px) {
  .section-services {
    max-width: 375px;
    padding: 0px 30px 60px;
  }
}
.section-services__title {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 60px;
}
@media screen and (max-width: 376px) {
  .section-services__title {
    font-size: 30px;
    line-height: 37px;
  }
}
.section-services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
}
@media screen and (max-width: 1024px) {
  .section-services__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 376px) {
  .section-services__list {
    gap: 30px;
  }
}
.section-services__item {
  width: calc(33.3333333333% - 45px);
  border: 1px solid red;
}
@media screen and (max-width: 768px) {
  .section-services__item {
    width: calc(50% - 45px);
  }
}
@media screen and (max-width: 600px) {
  .section-services__item {
    width: 100%;
  }
}
.section-services__img {
  width: 92px;
  height: 92px;
  border-radius: 24px;
  padding: 14px;
  background: rgb(255, 255, 255);
  margin-bottom: 30px;
}
.section-services__heading {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: rgb(36, 163, 255);
  margin-bottom: 15px;
}

.menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  color: rgb(36, 163, 255);
}
.menu-link:hover {
  color: rgb(240, 20, 90);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu-link:hover .menu-link__arrow {
  color: rgb(240, 20, 90);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu-link__arrow {
  color: rgb(36, 163, 255);
}

.section-team {
  width: 100%;
  max-width: 1920px;
  margin: 0px auto 60px;
  padding: 0px 160px 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid red;
}
@media screen and (max-width: 1440px) {
  .section-team {
    max-width: 1440px;
    padding: 0px 60px 46px;
  }
}
@media screen and (max-width: 1024px) {
  .section-team {
    max-width: 1024px;
    padding: 0px 60px 46px;
  }
}
@media screen and (max-width: 768px) {
  .section-team {
    max-width: 768px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 376px) {
  .section-team {
    max-width: 375px;
    padding: 0px 30px 46px;
  }
}
.section-team__img {
  background-image: url(../../../images/team.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 400px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
@media screen and (max-width: 1024px) {
  .section-team__img {
    background-position: 38% 50%;
  }
}
@media screen and (max-width: 768px) {
  .section-team__img {
    width: 100%;
    max-width: 648px;
    height: 500px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 12px;
  }
}
@media screen and (max-width: 376px) {
  .section-team__img {
    background-position: 47% 50%;
  }
}
@media screen and (max-width: 1024px) {
  .section-team__menu-link {
    margin-bottom: 5px;
  }
}
.section-team__member {
  padding: 30px;
  background: rgb(245, 245, 250);
}
@media screen and (max-width: 1024px) {
  .section-team__member {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  .section-team__member {
    width: 100%;
  }
}
.section-team__text {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 30px;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
@media screen and (max-width: 376px) {
  .section-team__text {
    font-size: 30px;
    line-height: 37px;
  }
}
.section-team__name {
  font-weight: 700;
  line-height: 20px;
  color: rgb(179, 179, 186);
  margin-bottom: 6px;
}
.section-team__position {
  font-size: 14px;
  line-height: 22px;
  color: rgb(179, 179, 186);
}

.section-clients {
  width: 100%;
  max-width: 1920px;
  padding: 0px 100px;
  margin: 0 auto 60px;
  border: 1px solid red;
}
@media screen and (max-width: 1440px) {
  .section-clients {
    max-width: 1440px;
    padding: 0px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1024px) {
  .section-clients {
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  .section-clients {
    max-width: 768px;
  }
}
.section-clients__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  color: rgb(50, 50, 100);
}
.section-clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-clients__item {
  width: 25%;
}
@media screen and (max-width: 768px) {
  .section-clients__item {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 376px) {
  .section-clients__item {
    width: 100%;
  }
}
.section-clients__img {
  width: 100%;
}

.section-publications {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 30px 160px 0px;
  background: rgb(245, 245, 250);
  border: 1px solid red;
}
@media screen and (max-width: 1440px) {
  .section-publications {
    max-width: 1440px;
    padding: 30px 60px 0px;
  }
}
@media screen and (max-width: 1024px) {
  .section-publications {
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  .section-publications {
    max-width: 768px;
    padding: 30px 30px 0px;
  }
}
@media screen and (max-width: 376px) {
  .section-publications {
    max-width: 375px;
  }
}
.section-publications__title {
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 30px;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
@media screen and (max-width: 768px) {
  .section-publications__title {
    font-size: 30px;
    line-height: 37px;
  }
}

.publications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .publications {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.publications__item {
  background: rgb(255, 255, 255);
  width: calc(33.3333333333% - 15px);
}
@media screen and (max-width: 768px) {
  .publications__item {
    width: calc(50% - 15px);
  }
}
@media screen and (max-width: 376px) {
  .publications__item {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .publications__item-last {
    width: 100%;
  }
}
.publications__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1440px) {
  .publications__img {
    max-width: 420px;
  }
}
@media screen and (max-width: 1024px) {
  .publications__img {
    max-width: 281px;
  }
}
@media screen and (max-width: 768px) {
  .publications__img {
    max-width: 768px;
  }
}
@media screen and (max-width: 376px) {
  .publications__img {
    max-width: 315px;
  }
}
.publications__img-equity-associate {
  background-image: url(../../../images/equity.jpg);
}
.publications__img-penalty {
  background-image: url(../../../images/gdpr.jpg);
}
.publications__img-millennial {
  background-image: url(../../../images/millennial.jpg);
}
@media screen and (max-width: 768px) {
  .publications__img-millennial {
    max-width: 768px;
    background-image: url(../../../images/cover.jpg);
  }
}
@media screen and (max-width: 376px) {
  .publications__img-millennial {
    max-width: 375px;
    background-image: url(../../../images/millennial.jpg);
  }
}
.publications__title {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(36, 163, 255);
  margin-bottom: 15px;
}
.publications__wrap {
  padding: 30px;
}
.publications__time {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
  color: rgb(179, 179, 186);
  text-transform: uppercase;
  margin-bottom: 15px;
}
.publications__line {
  width: 100%;
  height: 4px;
  background: rgb(230, 230, 240);
  margin-bottom: 15px;
}
.publications__text {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 22px;
  color: rgb(0, 0, 0);
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background: rgb(245, 245, 250);
  padding: 30px 160px;
}
@media screen and (max-width: 1440px) {
  .footer {
    max-width: 1440px;
    padding: 30px 60px;
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 768px;
  }
}
@media screen and (max-width: 376px) {
  .footer {
    max-width: 375px;
    padding: 30px;
  }
}
.footer__line {
  height: 2px;
  background: rgb(230, 230, 240);
  margin-bottom: 30px;
}
.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
  margin-bottom: 21px;
}
@media screen and (max-width: 764px) {
  .footer__location {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 404px) {
  .footer__location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
.footer__address {
  color: rgb(50, 50, 100);
  font-family: Montserrat;
  line-height: 20px;
}
.footer__map {
  position: relative;
  text-transform: uppercase;
  color: rgb(36, 163, 255);
}
.footer__map::before {
  content: "";
  position: absolute;
  left: -16px;
  bottom: 5px;
  background: rgb(179, 179, 186);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
@media screen and (max-width: 404px) {
  .footer__map::before {
    display: none;
  }
}
.footer__contacts {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
}
@media screen and (max-width: 764px) {
  .footer__contacts {
    margin-bottom: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 376px) {
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
.footer__social:hover .footer__facebook {
  color: rgb(240, 20, 90);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.footer__facebook {
  color: rgb(36, 163, 255);
}
.footer__tel {
  font-family: Montserrat;
  font-weight: 700;
  line-height: 20px;
  color: rgb(70, 70, 110);
}
.footer__tel::before {
  content: "";
  position: absolute;
  left: 34px;
  bottom: 11px;
  background: rgb(179, 179, 186);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
@media screen and (max-width: 488px) {
  .footer__tel::before {
    display: none;
  }
}
.footer__mail {
  font-family: Montserrat;
  font-weight: 700;
  line-height: 20px;
  color: rgb(36, 163, 255);
}
.footer__mail::before {
  content: "";
  position: absolute;
  left: 158px;
  bottom: 11px;
  background: rgb(179, 179, 186);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
@media screen and (max-width: 488px) {
  .footer__mail::before {
    display: none;
  }
}
.footer__mail:hover {
  color: rgb(240, 20, 90);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.footer__copyright {
  font-family: Montserrat;
  line-height: 20px;
  color: rgb(179, 179, 186);
}
@media screen and (max-width: 376px) {
  .footer__copyright {
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */