.footer {
  background-color: tomato;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background: $bgColor;
  padding: 30px 160px;

  @media screen and (max-width: 1440px) {
    max-width: 1440px;
    padding: 30px 60px;
  }

  @media screen and (max-width: 1024px) {
    max-width: 1024px;
  }

  @media screen and (max-width: 768px) {
    max-width: 768px;
  }

  @media screen and (max-width: 376px) {
    max-width: 375px;
    padding: 30px;
  }

  &__line {
    height: 2px;
    background: $separatorColor;
    margin-bottom: 30px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__location {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-bottom: 21px;

    @media screen and (max-width: 764px) {
      justify-content: center;
    }

    @media screen and (max-width: 404px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__address {
    color: rgba(50, 50, 100, 1);
    line-height: 20px;

    @media screen and (min-width: 405px) {
      white-space: nowrap;
    }
  }

  &__map {
    position: relative;
    text-transform: uppercase;
    color: $regularColor;
    white-space: nowrap;
  }

  &__map::before {
    content: "";
    position: absolute;
    left: -16px;
    bottom: 5px;
    background: $textColor;
    width: 6px;
    height: 6px;
    border-radius: 50%;

    @media screen and (max-width: 404px) {
      display: none;
    }
  }

  &__contacts {
    position: relative;
    display: flex;
    align-items: center;
    gap: 26px;

    @media screen and (max-width: 764px) {
      margin-bottom: 30px;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media screen and (max-width: 376px) {
      flex-direction: column;

      gap: 10px;
    }
  }

  &__social:hover &__facebook,
  &__social:focus &__facebook {
    color: $accentColor;
    transition: all 0.5s;
  }

  &__facebook {
    color: $regularColor;
  }

  &__tel {
    font-weight: 700;
    line-height: 20px;
    white-space: nowrap;

    color: rgba(70, 70, 110, 1);
  }

  &__tel::before {
    content: "";
    position: absolute;
    left: 34px;
    bottom: 11px;
    background: $textColor;
    width: 6px;
    height: 6px;
    border-radius: 50%;

    @media screen and (max-width: 504px) {
      display: none;
    }
  }

  &__mail {
    font-weight: 700;
    line-height: 20px;

    color: $regularColor;

    &::before {
      content: "";
      position: absolute;
      left: 158px;
      bottom: 11px;
      background: $textColor;
      width: 6px;
      height: 6px;
      border-radius: 50%;

      @media screen and (max-width: 504px) {
        display: none;
      }
    }

    &:hover,
    &:focus {
      color: $accentColor;
      transition: all 0.5s;
    }
  }

  &__copyright {
    line-height: 20px;

    color: $textColor;

    @media screen and (max-width: 376px) {
      text-align: center;
    }
  }
}
