.section-publications {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 30px 160px 0px;
  background: $bgColor;

  @media screen and (max-width: 1440px) {
    max-width: 1440px;
    padding: 30px 60px 0px;
  }

  @media screen and (max-width: 1024px) {
    max-width: 1024px;
  }

  @media screen and (max-width: 768px) {
    max-width: 768px;
    padding: 30px 30px 0px;
  }

  @media screen and (max-width: 376px) {
    max-width: 375px;
  }

  &__title {
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 30px;

    background-image: $gradientColor;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

    @media screen and (max-width: 768px) {
      font-size: 30px;
      line-height: 37px;
    }
  }
}

.publications {
  display: flex;
  gap: 30px;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }

  &__item {
    background: rgba(255, 255, 255, 1);
    width: calc(100% / 3 - 15px);
    border-radius: 8px;

    @media screen and (max-width: 768px) {
      width: calc(100% / 2 - 15px);
    }

    @media screen and (max-width: 500px) {
      width: 100%;
    }

    &-last {
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    margin-bottom: 30px;

    @media screen and (max-width: 1440px) {
      max-width: 420px;
    }

    @media screen and (max-width: 1024px) {
      max-width: 281px;
    }

    @media screen and (max-width: 768px) {
      max-width: 768px;
    }

    @media screen and (max-width: 376px) {
      max-width: 315px;
    }

    &-equity-associate {
      background-image: url(../images/equity.jpg);
    }

    &-penalty {
      background-image: url(../images/gdpr.jpg);
    }

    &-millennial {
      background-image: url(../images/millennial.jpg);

      @media screen and (max-width: 768px) {
        max-width: 768px;
        background-image: url(../images/cover.jpg);
      }

      @media screen and (max-width: 376px) {
        max-width: 375px;
        background-image: url(../images/millennial.jpg);
      }
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: $regularColor;
    margin-bottom: 15px;
  }

  &__wrap {
    padding: 30px;
  }

  &__time {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
    color: $textColor;
    text-transform: uppercase;

    margin-bottom: 15px;
  }

  &__line {
    width: 100%;
    height: 4px;
    background: $separatorColor;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 14px;
    line-height: 22px;

    color: rgba(0, 0, 0, 1);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
