$accentColor: rgba(240, 20, 90, 1);
$regularColor: rgba(36, 163, 255, 1);
$separatorColor: rgba(230, 230, 240, 1);
$textColor: rgba(179, 179, 186, 1);
$bgColor: rgba(245, 245, 250, 1);
$gradientColor: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
