* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

body {
  width: 100%;
}

.shadow-dark {
  width: 100%;
  max-width: 1880px;
  height: 10px;
  background: rgba(202, 202, 219, 1);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  margin: 0 auto;
}

.shadow-light {
  width: 100%;
  max-width: 1840px;
  height: 10px;
  background: rgba(231, 231, 242, 1);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  margin: 0 auto 60px;
}
