.section-team {
  width: 100%;
  max-width: 1920px;
  margin: 0px auto 60px;
  padding: 0px 160px 46px;
  display: flex;

  border: 1px solid red;

  @media screen and (max-width: 1440px) {
    max-width: 1440px;
    padding: 0px 60px 46px;
  }

  @media screen and (max-width: 1024px) {
    max-width: 1024px;
    padding: 0px 60px 46px;
  }

  @media screen and (max-width: 768px) {
    max-width: 768px;
    flex-direction: column;
  }

  @media screen and (max-width: 376px) {
    max-width: 375px;
    padding: 0px 30px 46px;
  }

  &__img {
    background-image: url(../../../images/team-member.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 400px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

    @media screen and (max-width: 1024px) {
      background-position: 38% 50%;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      max-width: 648px;
      height: 500px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 12px;
    }

    @media screen and (max-width: 376px) {
      background-position: 47% 50%;
    }
  }

  &__menu-link {
    @media screen and (max-width: 1024px) {
      margin-bottom: 5px;
    }
  }

  &__member {
    padding: 30px;
    background: $bgColor;

    @media screen and (max-width: 1024px) {
      width: 75%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &__text {
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 30px;

    background-image: $gradientColor;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

    @media screen and (max-width: 376px) {
      font-size: 30px;
      line-height: 37px;
    }
  }

  &__name {
    font-weight: 700;
    line-height: 20px;
    color: $textColor;

    margin-bottom: 6px;
  }

  &__position {
    font-size: 14px;
    line-height: 22px;
    color: $textColor;
  }
}
