$accentColor: rgba(240, 20, 90, 1);
$regularColor: rgba(36, 163, 255, 1);
$separatorColor: rgba(230, 230, 240, 1);
$textColor: rgba(179, 179, 186, 1);
$bgColor: rgba(245, 245, 250, 1);
$gradientColor: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

body {
  width: 100%;
}

.wrapper {
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );

  font-family: Montserrat;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);

  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.shadow-dark {
  width: 100%;
  max-width: 1880px;
  height: 10px;
  background: rgba(202, 202, 219, 1);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  margin: 0 auto;
}

.shadow-light {
  width: 100%;
  max-width: 1840px;
  height: 10px;
  background: rgba(231, 231, 242, 1);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  margin: 0 auto 60px;
}

.wrap-header-hero {
  height: 100vh;
  background-image: url(../../images/h.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-bottom: 60px;

  border: 1px solid red;
}

.header {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 50px 160px 0px;

  display: flex;
  justify-content: space-between;

  border: 1px solid red;
}

.auth-nav {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 16px;

  &__list {
    display: flex;
  }

  &__address {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -11px;
      bottom: 7px;
      background: $separatorColor;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
  }

  &__tel {
    font-size: 16px;
    font-weight: 700;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -11px;
      bottom: 7px;
      background: $separatorColor;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      right: -11px;
      bottom: 7px;
      background: $separatorColor;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
  }
}

.navigation {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  font-weight: 700;

  &__link {
    padding-bottom: 3px;

    &:hover {
      border-bottom: 3px solid rgba(255, 255, 255, 1);
      transition: all 0.5s;
    }

    &-active {
      border-bottom: 3px solid $accentColor;

      & > a {
        color: $accentColor;
      }
    }
  }
}

.button-tab {
  width: 33 px;
  height: 25 px;
  padding: 5px 7px 5px 7px;
  border-radius: 8px;
  border: none;

  background-color: transparent;
  color: rgba(255, 255, 255, 1);

  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;

  &_active {
    background: $accentColor;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.5s;
  }
}

.main-title {
  position: absolute;
  top: 45%;
  right: 39%;

  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
}

.scroll {
  width: 42px;
  height: 42px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 90%;
  right: 50%;

  &__img {
    color: rgba(255, 255, 255, 1);
  }

  &:hover {
    cursor: pointer;
    border-color: rgba(240, 20, 90, 0.5);
    transition: all 0.5s;

    .scroll__img {
      color: $accentColor;
      transition: all 0.5s;
    }
  }
}

.facebook-svg {
  color: rgba(255, 255, 255, 1);

  :hover {
    color: $accentColor;
    transition: all 0.5s;
  }
}

.section-menu {
  display: flex;
  width: 100%;
  max-width: 1920px;
  padding: 0px 280px;
  margin: 0px auto 60px;

  border: 1px solid red;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 14px 60px 14px 0px;
    border-right: 4px solid rgba(255, 255, 255, 0.3);
    text-align: end;
  }

  &__link {
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    color: $textColor;

    &:hover {
      color: $accentColor;
      transition: all 0.5s;
    }

    &_active {
      background-image: linear-gradient(
        90.13deg,
        #ef8080 0.84%,
        #f0145a 99.96%
      );
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
  }

  &__descr {
    width: 100%;
    max-width: 921px;
    padding: 73px 0px 73px 60px;
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;

    margin-bottom: 30px;
  }

  &__text {
    font-size: 19px;
    line-height: 30px;
  }
}

.section-services {
  width: 100%;
  max-width: 1920px;
  padding: 0px 160px 60px;
  margin: 0px auto;

  border: 1px solid red;

  &__title {
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;

    background-image: $gradientColor;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 492px;
    margin-right: 60px;
    margin-bottom: 60px;

    &:nth-child(3n) {
      margin-right: 0px;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }

    border: 1px solid red;
  }

  &__img {
    width: 92px;
    height: 92px;
    border-radius: 24px;
    padding: 14px;
    background: rgba(255, 255, 255, 1);

    margin-bottom: 30px;
  }

  &__heading {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: $regularColor;

    margin-bottom: 15px;
  }
}

.menu-link {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 10px;

  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  color: $regularColor;

  &:hover {
    color: $accentColor;
    transition: all 0.5s;

    .menu-link__arrow {
      color: $accentColor;
      transition: all 0.5s;
    }
  }

  &__arrow {
    color: $regularColor;
  }
}

.section-team {
  width: 100%;
  max-width: 1920px;
  padding: 0px 160px 46px;

  display: flex;

  border: 1px solid red;

  &__member {
    padding: 30px;
    background: $bgColor;
  }

  &__text {
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 30px;

    background-image: $gradientColor;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  &__name {
    font-weight: 700;
    line-height: 20px;
    color: $textColor;

    margin-bottom: 6px;
  }

  &__position {
    font-size: 14px;
    line-height: 22px;
    color: $textColor;
  }
}

.section-clients {
  width: 100%;
  max-width: 1920px;
  padding: 0px 100px;
  margin-bottom: 60px;

  border: 1px solid red;

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1px;
    margin-bottom: 30px;

    color: rgba(50, 50, 100, 1);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__img {
    width: 429px;
  }
}

.section-publications {
  width: 100%;
  max-width: 1920px;
  padding: 30px 160px 0px;
  background: $bgColor;

  &__title {
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 30px;

    background-image: $gradientColor;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
}

.publications {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;

  &__item {
    background: rgba(255, 255, 255, 1);
  }

  &__img {
    margin-bottom: 30px;
  }

  &__title {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: $regularColor;
    margin-bottom: 15px;
  }

  &__wrap {
    padding: 30px;
  }

  &__time {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
    color: $textColor;
    text-transform: uppercase;

    margin-bottom: 15px;
  }

  &__line {
    width: 100%;
    height: 4px;
    background: $separatorColor;
    margin-bottom: 15px;
  }

  &__text {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;

    color: rgba(0, 0, 0, 1);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.footer {
  width: 100%;
  max-width: 1920px;
  background: $bgColor;
  padding: 30px 160px;

  &__line {
    height: 2px;
    background: $separatorColor;
    margin-bottom: 30px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__location {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-bottom: 21px;
  }

  &__address {
    color: rgba(50, 50, 100, 1);
    font-family: Montserrat;
    line-height: 20px;
  }

  &__map {
    position: relative;
    text-transform: uppercase;
    color: $regularColor;
  }

  &__map::before {
    content: "";
    position: absolute;
    left: -16px;
    bottom: 5px;
    background: $textColor;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  &__contacts {
    position: relative;
    display: flex;
    align-items: center;
    gap: 26px;
  }

  &__facebook {
    color: $regularColor;
  }

  &__tel {
    font-family: Montserrat;
    font-weight: 700;
    line-height: 20px;

    color: rgba(70, 70, 110, 1);
  }

  &__tel::before {
    content: "";
    position: absolute;
    left: 34px;
    bottom: 11px;
    background: $textColor;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  &__mail {
    font-family: Montserrat;
    font-weight: 700;
    line-height: 20px;

    color: $regularColor;

    &::before {
      content: "";
      position: absolute;
      left: 158px;
      bottom: 11px;
      background: $textColor;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }

    &:hover {
      color: $accentColor;
      transition: all 0.5s;
    }
  }

  &__copyright {
    font-family: Montserrat;
    line-height: 20px;

    color: $textColor;
  }
}
